@using BlazorBB.Data.Models

<div>
	@if (Forum == null)
	{
		<p>Loading...</p>
	}
	else
	{
		<a href="@Forum.GetURL()">@Forum.Name</a>
	}
</div>

@code {
	[Parameter]
	public Forum? Forum { get; set; }
}
