@page "/"
@using BlazorBB.Data
@using BlazorBB.Data.Models
@inject ForumService ForumService

<PageTitle>Index</PageTitle>

@if (forums == null)
{
	<p>Loading...</p>
}
else
{
	@foreach(var forum in forums)
	{
		<ForumOverview Forum="@forum"/>
	}
}

@code {
	private Forum[]? forums;

	protected override async Task OnInitializedAsync()
	{
		forums = await ForumService.GetForumsAsync();
	}
}