@page "/"
@inject HttpClient Http

@foreach (var forum in forums)
{
    <li>@forum.Id || @forum.name</li>
}

@code {

private List<BlazorBB.Shared.Models.Forum> forums = new List<BlazorBB.Shared.Models.Forum>();

protected override async Task OnInitAsync()
{
    var response = await Http.GetStringAsync("/api/forums/all");
    forums = Newtonsoft.Json.JsonConvert.DeserializeObject<List<BlazorBB.Shared.Models.Forum>>(response);
}
}